@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
  --gradient-color: radial-gradient(
    circle at 98.06% 27.59%,
    #96b4a7 0,
    #87aea2 10%,
    #75a79d 20%,
    #60a098 30%,
    #469794 40%,
    #1c8e91 50%,
    #00858f 60%,
    #007c8f 70%,
    #00738f 80%,
    #006c91 90%,
    #006493 100%
  );
  --primary-color: #00858f;
  --paragraph: rgb(109, 109, 109);
  --second-color: rgb(255, 255, 255);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Koulen', cursive;
  color: var(--second-color);
}

/*HEADER*/

.header-wrapper {
  height: 100vh;
  width: 100%;
  background-image: var(--gradient-color);
  background-size: 400% 400%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid var(--second-color);
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
  color: var(--primary-color);
  background-color: var(--second-color);
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 90%;
  }
}

/*MENU HAMBURGUER*/

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 4px;
  background-color: var(--second-color);
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/*MENU*/

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background: var(--second-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 200px 0px var(--second-color);
  z-index: -1;
  transition: 500ms ease-in-out 0s;
}

.menu-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 505ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px 0;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/*ANIMAÇÃO MENU*/

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  background-color: var(--primary-color);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  background-color: var(--primary-color);
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: var(--second-color);
}

#toggle:checked ~ .menu {
  box-shadow: 0px 30rem 100px 90rem var(--second-color);
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}

/*HOME CARDS*/

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 3rem 0;
  background-image: var(--gradient-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(0.5);
  color: var(--second-color);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2rem;
}

.card-text {
  width: 40%;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--paragraph);
}

.card-text a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Koulen';
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid var(--second-color);
  opacity: 0;
  transition: 0.3s;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  margin: 0;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 250px;
  width: 350px;
  opacity: 1;
  border-radius: 2rem;
}

.card:hover > .card-wrapper p {
  font-size: 16px;
  opacity: 1;
  visibility: visible;
  letter-spacing: 1px;
}

/*FOOTER*/

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 18px;
  font-family: 'Arial';
}

/* RESPONSIVO */

@media (max-width: 800px) {
  .social-media {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-top: 0;
  }

  .card-container {
    flex-direction: column;
  }

  .container .card-container:nth-child(1),
  .container .card-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .card {
    height: 250px;
    width: 250px;
  }

  .card-text {
    width: 90%;
    margin-top: 2rem;
    text-align: center;
  }

  .card:hover > .card-wrapper::before {
    height: 190px;
    width: 190px;
  }
}
